.form-control {
  margin-bottom: 20px;
  margin-left: 75px;
  width: 100%;
  align-items: center;
  line-height: 1.5em;
}

.form-control-content {
  margin-bottom: 20px;
  margin-left: 75px;
  width: 300px;
  align-items: center;
  line-height: 80em;
  height: 300px;
}

.title-form {
  padding: 30px 120px;
}

.form-title h4 {
  padding: 30px 75px;
}
.form-submit {
  margin-left: 75px;
  margin-bottom: 98px;
  border: none;
  border-radius: 50px;
  padding: 6px 20px;
  background-color: #fff;
  color: #000;
}

.generalContent {
  padding: 10px;
  margin: auto;
  width: 50%;
}

form {
  background-color: lightblue;
  margin-top: 5%;
  width: 40%;
  height: 400px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
  padding: 1px 50px;
}

form h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  padding-top: 50px;
}

form input {
  margin-top: 30px;
  height: 35px;
  width: 50%;
  margin-left: 20%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 18px;
  padding: 5px 30px;
}

form input[type="Submit"] {
  /* background-color: #f8f8f8 ;
     */
  width: 25%;
}

form input[type="Submit"]:hover {
  background-color: rgb(0, 0, 0);
  font-style: italic;
  color: #fff;
}

.nav {
  position: relative;
  display: flex;

  
}

.btn {
    width: 100px;
    height: 30px;
}